/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full viewport */
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, #0D1522 0%, #0A1018 100%);
    color: white;
}

/* Fix Safari blur issues */
@supports (-webkit-touch-callout: none) {
    * {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
    }
}